<mat-nav-list class="nav-list sidenav">
  <a mat-list-item routerLink="/home/inicio">
    <i class="material-icons"> home </i>
    inicio
  </a>
  <a mat-list-item routerLink="/home/itens">
    <i class="material-icons">storefront</i>
    Itens
  </a>
  <a mat-list-item  routerLink="/home/estoque">
    <i class="material-icons">dashboard</i>
    Estoque
  </a>
  <a mat-list-item routerLink="/home/pedidos">
    <i class="material-icons">calendar_today</i>
    Pedidos
  </a>
  <a mat-list-item routerLink="/home/manutençao">
    <i class="material-icons">build</i>
    Manutençao
  </a>
</mat-nav-list>

<!-- </mat-sidenav-container> -->
