<!-- <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
      Bem Vindo
  </mat-card-title>
    <mat-card-subtitle class="subtitle">
      Sistema para controlar almoxarifado
  </mat-card-subtitle>


  </mat-card>
 -->
 <div class="slogan-container">
  <img class="logo" src="assets/img/gac.png" alt="logo" />
  <h1 class="slogan-title">GAC</h1>
  <h1 class="slogan-title">Controle de Almoxarifado</h1>
  <p class="slogan-text">Gerencie seus estoques de forma eficiente e organizada.</p>
</div>

