<div class="header box-border px-4 w-full flex-row whitespace-nowrap h-16 flex center bg-cyan-800 text-xl justify-between">
  <span>
    <a routerLink="/">
      <img class="logo" src="assets/img/gac.png" alt="logo" />
    </a>
  </span>
  <span class="title-group p-8">
    <a>
      <i class="material-icons pr-1.5 "> dashboard </i>
      Almoxarifado
    </a>
  </span>
  <span class="title-group p-8">

      <form action="/pesquisar" method="get">
        <input type="text" name="q" placeholder="Pesquisar">
        <button type="submit">Buscar</button>
      </form>



  </span>
  <span>
  <a  class= "login"routerLink="/login">
    <i class="material-icons pr-1.5"> account_circle </i>
    Sair
  </a>
</span>
</div>
